<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>844637961414-3n9h7njc5n9a3oge1cvko7nsure0icr0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.844637961414-3n9h7njc5n9a3oge1cvko7nsure0icr0</string>
	<key>API_KEY</key>
	<string>AIzaSyCn0iNBlCS0OOewnkug8oW3ad5-lKDq3sM</string>
	<key>GCM_SENDER_ID</key>
	<string>844637961414</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hoxuandung.successhunter</string>
	<key>PROJECT_ID</key>
	<string>success-hunter-db</string>
	<key>STORAGE_BUCKET</key>
	<string>success-hunter-db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:844637961414:ios:f83564314317664a</string>
	<key>DATABASE_URL</key>
	<string>https://success-hunter-db.firebaseio.com</string>
</dict>
</plist>